@import url("https://fonts.googleapis.com/css?family=Montserrat+Alternates");
body {
  width: 100%;
  margin: 0 auto;
  background: #272727;
  font-family: "Montserrat Alternates", sans-serif;
  color: white;
}
.Wrapper-Menu {
  display: flex;
  width: 100%;
  height: 70px;
  justify-content: flex-end;
  align-content: center;
  border-bottom: 1px dashed #ffffff;
  background: rgba(255, 255, 255, 0.075);
}
.Wrapper-Menu .Menu-Categories {
  display: flex;
  list-style-type: none;
  align-content: center;
  padding-right: 115px;
  margin-top: 20px;
}
.Wrapper-Menu .Menu-Categories .Category {
  list-style-type: none;
  padding: 0 5px;
}
.Wrapper-Menu .Menu-Categories .Category a {
  text-decoration: none;
  font-weight: bold;
  font-size: 20px;
  color: white;
}
.Wrapper-Menu .Menu-Categories .Category a:hover {
  color: #999595;
}
.Wrapper-Menu .Menu-Categories span {
  font-size: 20px;
}
.About-Me-Page {
  display: flex;
  width: 100%;
  justify-content: center;
}
.About-Me-Page .Contact-Information {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-content: center;
  background: rgba(0, 0, 0, 0.185);
  border-right: 1px solid lightgray;
  margin: 50px 0;
  padding: 50px 0 50px 40px;
}
.About-Me-Page .Contact-Information .My-Photo {
  background: url("./img/photo.jpg") no-repeat;
  background-size: contain;
  height: 215px;
  padding-top: 10px;
}
.About-Me-Page .Contact-Information .My-Name {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 45px;
}
.About-Me-Page .Contact-Information .My-Name .First-Name {
  font-weight: bold;
  font-size: 44px;
  padding: 0;
  margin: 0;
}
.About-Me-Page .Contact-Information .My-Name .Surname {
  font-size: 24px;
  padding: 0;
  margin: 0;
}
.About-Me-Page .Contact-Information .My {
  padding-top: 20px;
  margin-right: 30px;
}
.About-Me-Page .Contact-Information .My .Contact-Information-Header {
  margin-bottom: 0;
  font-weight: bold;
  font-size: 20px;
}
.About-Me-Page .Contact-Information .My .Specific-Information {
  margin-top: 0;
  font-size: 16px;
  color: white;
  text-decoration: none;

}
.About-Me-Page .Contact-Information .My a:hover {
  color: rgb(134, 132, 132);
}
.About-Me-Page .About-Me-Information {
  display: flex;
  flex-direction: column;
  margin: 50px 0;
  padding: 0 5px 0 0;
}
.About-Me-Page .About-Me-Information .Education-Experience-And-Skills {
  align-content: center;
}
.About-Me-Page .About-Me-Information .Education-Experience-And-Skills .Information-Section-Name {
  margin: 20px 0 0 0;
  padding-left: 20px;
  background: #3f3f3f;
  font-weight: bold;
  font-size: 30px;
}
.About-Me-Page .About-Me-Information .Education-Experience-And-Skills .Full-Description {
  margin: 0;
  padding: 0 0 10px 20px;
  background: #3f3f3f;
  font-size: 20px;
}
.About-Me-Page .About-Me-Information .Education-Experience-And-Skills:last-child {
  margin-bottom: 20px;
}
.Wrapper-My-Projects {
  display: flex;
  width: 100%;
  justify-content: center;
  flex-direction: column;
}
.Wrapper-My-Projects .first-line {
  display: flex;
  margin-top: 40px;
}
.Wrapper-My-Projects .first-line .wrapper-project-todolist {
  display: flex;
  padding: 0 30px 20px 30px;
  justify-content: flex-start;
  border-right: 1px solid white;
}
.Wrapper-My-Projects .first-line .wrapper-project-todolist .full-information-about-todolist {
  display: flex;
  flex-direction: column;
}
.Wrapper-My-Projects .first-line .wrapper-project-todolist .full-information-about-todolist .name-project {
  font-size: 26px;
  margin: 0%;
  text-align: center;
}
.Wrapper-My-Projects .first-line .wrapper-project-todolist .full-information-about-todolist .name-project .star{
  color: red;
}
.Wrapper-My-Projects .first-line .wrapper-project-todolist .full-information-about-todolist .about-todolist {
  padding-top: 20px;
  font-size: 16px;
  margin: 0%;
}
.Wrapper-My-Projects .first-line .wrapper-project-todolist .wrapper-image {
  display: flex;
  padding-left: 20px;
}
.Wrapper-My-Projects .first-line .wrapper-project-todolist .wrapper-image .image-todolist {
  background: url("img/todolist.png") no-repeat;
  background-size: contain;
  width: 250px;
  height: 228px;
}
.Wrapper-My-Projects .first-line .wrapper-project-todolist .wrapper-image .image-todolist:hover {
  box-shadow: 0 0 30px #ffffff;
}
.Wrapper-My-Projects .first-line .wrapper-project-calculator {
  display: flex;
  padding: 0 40px 40px 40px;
}
.Wrapper-My-Projects .first-line .wrapper-project-calculator .full-information-about-calculator {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.Wrapper-My-Projects .first-line .wrapper-project-calculator .full-information-about-calculator .name-project {
  font-size: 26px;
  margin: 0%;
  text-align: center;
}
.Wrapper-My-Projects .first-line .wrapper-project-calculator .full-information-about-calculator .name-project .star{
  color: red;
}
.Wrapper-My-Projects .first-line .wrapper-project-calculator .full-information-about-calculator .about-calculator {
  padding-top: 20px;
  font-size: 16px;
  margin: 0%;
}
.Wrapper-My-Projects .first-line .wrapper-project-calculator .wrapper-image {
  display: flex;
  padding-left: 50px;
}
.Wrapper-My-Projects .first-line .wrapper-project-calculator .wrapper-image .image-calculator {
  background: url("img/calc.png") no-repeat;
  background-size: contain;
  width: 245px;
  height: 286px;
}
.Wrapper-My-Projects .first-line .wrapper-project-calculator .wrapper-image .image-calculator:hover {
  box-shadow: 0 0 30px #fff5f5;
}
.Wrapper-My-Projects .second-line {
  display: flex;
  margin-top: 40px;
}
.Wrapper-My-Projects .second-line .wrapper-project-hi5 {
  display: flex;
  padding: 0 28px 20px 30px;
  border-right: 1px solid white;
  justify-content: flex-start;
  margin-bottom: 40px;
}
.Wrapper-My-Projects .second-line .wrapper-project-hi5 .full-information-about-hi5 {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.Wrapper-My-Projects .second-line .wrapper-project-hi5 .full-information-about-hi5 .name-project {
  font-size: 26px;
  margin: 0%;
  text-align: center;
}
.Wrapper-My-Projects .second-line .wrapper-project-hi5 .full-information-about-hi5 .name-project .star{
  color: red;
}
.Wrapper-My-Projects .second-line .wrapper-project-hi5 .full-information-about-hi5 .about-hi5 {
  padding-top: 20px;
  font-size: 16px;
  margin: 0%;
}
.Wrapper-My-Projects .second-line .wrapper-project-hi5 .wrapper-image {
  display: flex;
  padding-left: 20px;
}
.Wrapper-My-Projects .second-line .wrapper-project-hi5 .wrapper-image .image-hi5 {
  background: url("img/first.png") no-repeat;
  background-size: contain;
  width: 250px;
  height: 200px;
}
.Wrapper-My-Projects .second-line .wrapper-project-hi5 .wrapper-image .image-hi5:hover {
  box-shadow: 0 0 30px #ffffff;
}
.Wrapper-My-Projects .second-line .wrapper-project-fruit-basket {
  display: flex;
  padding: 0 10px 40px 40px;
}
.Wrapper-My-Projects .second-line .wrapper-project-fruit-basket .full-information-about-fruit-basket {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.Wrapper-My-Projects .second-line .wrapper-project-fruit-basket .full-information-about-fruit-basket .name-project {
  font-size: 26px;
  margin: 0%;
  text-align: center;
}
.Wrapper-My-Projects .second-line .wrapper-project-fruit-basket .full-information-about-fruit-basket .name-project .star{
 color: red;
}
.Wrapper-My-Projects .second-line .wrapper-project-fruit-basket .full-information-about-fruit-basket .about-fruit-basket {
  padding-top: 20px;
  font-size: 16px;
  margin: 0%;
}
.Wrapper-My-Projects .second-line .wrapper-project-fruit-basket .wrapper-image {
  display: flex;
  padding: 0 40px;
}
.Wrapper-My-Projects .second-line .wrapper-project-fruit-basket .wrapper-image .image-fruit-basket {
  background: url("img/fruitBasket.png") no-repeat;
  background-size: contain;
  width: 250px;
  height: 289px;
}
.Wrapper-My-Projects .second-line .wrapper-project-fruit-basket .wrapper-image .image-fruit-basket:hover {
  box-shadow: 0 0 30px #ffffff;
}
.wrapper-about-start {
  padding: 20px;
  border-top: 1px dashed white;
}
.wrapper-about-start .star{
  color: red;
}
@media screen and (max-width: 550px) {
  .Wrapper-Menu {
    padding: 0;
    margin-bottom: 20px;
  }
  .Wrapper-Menu .Menu-Categories {
    align-self: center;
    padding-right: 10px;
    margin-right: 10px;
  }
  .About-Me-Page {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .About-Me-Page .Contact-Information {
    padding: 20px 0 20px 45px;
    border-right: none;
    margin-bottom: 0;
  }
}
@media screen and (max-width: 1150px) {
  .Wrapper-My-Projects {
    flex-direction: column;
    padding-left: 0;
  }
  .Wrapper-My-Projects .first-line {
    flex-direction: column;
  }
  .Wrapper-My-Projects .first-line .wrapper-project-todolist {
    flex-direction: column;
    align-items: center;
    border: none;
    border-bottom: 1px solid white;
  }
  .Wrapper-My-Projects .first-line .wrapper-project-todolist .full-information-about-todolist {
    align-items: center;
  }
  .Wrapper-My-Projects .first-line .wrapper-project-todolist .wrapper-image {
    padding-top: 20px;
    padding-left: 0;
  }
  .Wrapper-My-Projects .first-line .wrapper-project-calculator {
    flex-direction: column;
    align-items: center;
    border-bottom: 1px solid white;
    padding-top: 30px;
  }
  .Wrapper-My-Projects .first-line .wrapper-project-calculator .full-information-about-calculator {
    align-items: center;
  }
  .Wrapper-My-Projects .first-line .wrapper-project-calculator .wrapper-image {
    padding-top: 20px;
    padding-left: 0;
  }
  .Wrapper-My-Projects .second-line {
    flex-direction: column;
  }
  .Wrapper-My-Projects .second-line .wrapper-project-hi5 {
    flex-direction: column;
    align-items: center;
    border: none;
    padding-bottom: 30px;
    border-bottom: 1px solid white;
  }
  .Wrapper-My-Projects .second-line .wrapper-project-hi5 .full-information-about-hi5 {
    align-items: center;
  }
  .Wrapper-My-Projects .second-line .wrapper-project-hi5 .wrapper-image {
    padding-top: 20px;
    padding-left: 0;
  }
  .Wrapper-My-Projects .second-line .wrapper-project-fruit-basket {
    flex-direction: column;
    align-items: center;
    border: none;
    border-bottom: 1px solid white;
  }
  .Wrapper-My-Projects .second-line .wrapper-project-fruit-basket .full-information-about-fruit-basket {
    align-items: center;
  }
  .Wrapper-My-Projects .second-line .wrapper-project-fruit-basket .wrapper-image {
    padding-top: 20px;
    padding-left: 0;
  }
  .wrapper-about-start {
    border: none;

  } 
} 
