@import url("https://fonts.googleapis.com/css?family=Montserrat+Alternates");
body {
  width: 100%;
  margin: 0 auto;
  background: rgb(39, 39, 39);
  font-family: "Montserrat Alternates", sans-serif;
  color: white;
}
